.container{
    background-color: beige;
    height: 650px;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    background-color: aqua;
    width: 330px;
    height: 500px;
    border: 3px solid brown;
    margin: 5px;
    padding: 5px;
    /* box-shadow:X Y blur spread color */
    box-shadow: 4ch 3px 5px 1px green; 
}
img{
    width: 50px;
}
/* text-shadow:X Y blur color */
h2{
    text-shadow: 2px 2px 3px red;
}
p{
    text-shadow: 1px 1px 1px green;
}